.vm-grid {
    .card {
        height: 100%;
        padding: 15px;
        box-shadow: 0px 2px 6px #00000080;
    }
}

.cv-grid {
    .card {
        height: 100%;
        padding: 15px;
        box-shadow: 0px 2px 6px #00000080;
        ul {
            padding-inline-start: 20px;
        }
        h3 {
            font-size: 24px;
        }
    }
}

.helping-families {
    .order-md-initial {
        display: flex;
        align-items: center;
    }
}

.appreciate-support {
    .order-md-initial {
        display: flex;
        align-items: center;
    }
}

.bd-grid {
    .card {
        padding: 45px;
        border-radius: 8px;
    }
}
