@include media-breakpoint-up(md) {
  .about-tabs {
    margin-bottom: 50px;

    .nav-item {
      padding: 0 5px;
      flex-grow: 1;
      flex-basis: 0;

      &:last-child {
        padding-right: 0;
      }

      &:first-child {
        padding-left: 0;
      }
    }

    .nav-link {
      background-color: #E1E1E1;
      color: #000;
      font-size: 16px;
      font-family: $headings-font-family;
      padding: 0.8rem 1rem;
      text-align: center;
      position: relative;
      transition: all 0.4s ease-in-out;

      &:hover, &:active, &:focus, &.active {
        color: #fff;
        transition: all 0.4s ease-in-out;
        background-color: theme-color('primary');
      }

      &:after {
        content: "";
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 10px solid theme-color('primary');
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transition: opacity 0.4s ease-in-out;
      }

      &.active {
        &:after {
          opacity: 1;
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .about-tabs {
    .nav-link {
      font-size: 20px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .tab-content.about-tabs-content {
    > .tab-pane {
      display: block;
      margin-bottom: 50px;
    }
  }
}
