.btn {
  border-radius: 5px;
  padding: .75rem 3.5rem;
}

.btn-lg {
  padding: 1rem 4rem !important;
}

.main-navigation > .navbar .navbar-nav .nav-link.btn-heart {
  background-color: theme-color('purple-dark');
  color: white;
  padding: .75rem 4.8rem;
  position: relative;
  overflow: hidden;
  margin-left: 1rem;

  &:after {
    content: '';
    background: url(../images/heart.png) no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    background-size: contain;
    width: 60px;
    height: 50px;
  }
}

.btn-sm {
  padding: .1rem .8rem;
}

@include media-breakpoint-up(lg) {
  .btn {
    font-size: 18px;
  }
}
