hr.lg {
    margin-top: $hr-margin-y * 3;
    margin-bottom: $hr-margin-y * 3;
}

body {
    color: theme-color("bodytext");
}

// covid 19

#lg-ann-overlay {
    a {
        color: #fff;
        &:hover {
            text-decoration: underline;
        }
    }
}

a {
    &:hover,
    &:active,
    &:focus {
        transition: all 0.4s ease-in-out;
    }
}

.btn.btn-sm {
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.fancy-title {
    position: relative;
    display: inline-block;
    background-image: url(../images/flower-icon.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 25px;

    &:before,
    &:after {
        content: "";
        position: absolute;
        width: calc(50% - 25px);
        height: 2px;
        z-index: 0;
        background-color: theme-color("primary");
        left: 0;
        bottom: 10px;
    }

    &:after {
        left: auto;
        right: 0;
    }

    /*&:after {
    content: "";
    background-image: url(../images/flower-icon.png);
    background-size: contain;
    height: 25px;
    width: 50px;
    display: block;
    margin: auto;
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: center;
    position: relative;
    z-index: 1;
  }*/
}

.max-width-title {
    .text-editor {
        max-width: 560px;
        margin-left: auto;
        margin-right: auto;
    }
}

.bold-tabs {
    .about-tabs {
        .nav-link {
            font-size: 1.75rem;
            font-weight: 600;
        }
    }

    .about-tabs-content {
        font-size: 20px;
    }
}

/*flower as background*/

.flower-background {
    overflow: hidden;
    z-index: 0;
}

.flower-background,
.flower-background .order-2 {
    position: relative;
}

.flower-background .order-2:after,
.flower-background:after {
    content: "";
    top: 0;
    bottom: 0;
    background-image: url(../images/TCT-Flower-900x900.png);
    background-size: cover;
    position: absolute;
    opacity: 0.1;
    width: 100%;
    left: -34%;
    background-position: 0;
    z-index: -1;
}

.flower-background.flower-background__right .order-2:after,
.flower-background.flower-background__right:after {
    left: auto;
    right: -39%;
}

.flower-background:after {
    display: none;
    width: 80%;
    left: -34%;
}

.flower-background.flower-background__right .order-2:after,
.flower-background.flower-background__right:after {
    background-image: url(../images/TCT-Flower-900x900-right.png);
}

.flexible-content--sm {
    > div > .d-flex {
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;

        .order-2 {
            .text-editor {
                max-width: 430px;
            }
        }
    }
}

.flexible-content--md {
    > div > .d-flex {
        .order-2 {
            .text-editor {
                max-width: 520px;
            }
        }
    }
}

.our-mission-content {
    .text-editor {
        max-width: 420px;
        margin-left: auto;
        margin-right: auto;
    }
}

.top-slider {
    visibility: hidden;
    &.slick-initialized {
        visibility: visible;
    }
}

.remove-iframe-before .embed-responsive-16by9 {
    &:before {
        content: none;
    }
}

.embed-responsive {
    height: 100%; // fix video disappearing
}

// video resources page quick fix
.video-resources .flexible_grid {
    .text-editor {
        height: auto;
        > p {
            height: 100%;
            iframe {
                width: 100%;
                height: 220px;
            }
        }
    }
}

// post navigation
.blog {
    .navigation {
        ul {
            list-style: none;
            display: flex;
            padding-left: 0;
            li {
                &:not(:last-child) {
                    margin-right: 1rem;
                }
            }
        }
    }
}

.post-type-archive-tribe_events {
    #tribe-events-content-wrapper {
        padding-top: 4.5rem;
    }
}

.lg-scroll-to-top {
    bottom: 3.5rem;
}

.smaller-lazy-load-img .rll-youtube-player {
    padding-bottom: 28%;
    img {
        width: auto;
    }
}

@include media-breakpoint-up(md) {
    .flower-background:after {
        display: block;
    }
    .flower-background .order-2:after {
        display: none;
    }
}

@include media-breakpoint-down(md) {
    .flexible_2_column_grid {
        .order-1 {
            margin-bottom: 30px;
        }
    }
}

main {
    width: 100%;
}
