.contact-map {
  iframe {
    width: 100%;
    height: 20.625rem;
  }

}

.gform_wrapper {
  ul li.gfield {
    margin-top: 0 !important;
  }

  .top_label div.ginput_container {
    margin-top: 20px !important;
  }

  li.hidden_label {
    input {
      height: 52px;
    }

    textarea, input {
      margin-top: 0 !important;
    }
  }

  .gform_footer input[type=submit] {
    font-size: 18px;
    padding: 7px 58px;
  }
}

.contact-touch {
  > div > .d-flex {
    .order-2:first-child {
      .text-editor {
        max-width: 400px;
      }
    }
  }
}

.contact-info-ul {
  list-style: none;
  padding-left: 0;

  li {
    padding-left: 22px;
    margin-bottom: 15px;
    position: relative;

    &:before {
      position: absolute;
      left: 0;
      top: 6px;
      font-size: 14px;
      font-family: Font Awesome\ 5 Free;
      font-weight: 900;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font-style: normal;
      -webkit-font-feature-settings: normal;
      font-feature-settings: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
    }
  }

  li:first-child {
    &:before {
      content: "\f3c5";
    }
  }

  li:nth-child(2) {
    &:before {
      content: "\f095";
    }
  }

  li:nth-child(3) {
    &:before {
      content: "\f0e0";
    }
  }

  li:nth-child(4) {
    &:before {
      content: "\f073";
    }
  }

  li:nth-child(5) {
    &:before {
      content: "\f017";
    }
  }
}


