.flexible_call-to-action {
  .btn {
    font-size: 1.25rem;
    color: #fff;
    border-color: theme-color("purple-dark");
    background-color: theme-color("purple-dark");

    &:hover, &:focus, &:active {
      color: theme-color("purple-dark");
      background-color: #fff;
    }
  }
}
