.donate-tabs-content {
  .tab-pane {
    box-shadow: 0px 3px 6px #00000029;
    padding: 1.5rem 2rem 3rem 2rem;

    .content {
      max-width: 820px;
    }
  }
}

@include media-breakpoint-up(md) {
  .donate-tabs {
    margin: 0 auto 50px;
    flex-wrap: nowrap;
    max-width: 1100px;

    .nav-item {
      padding: 0;
      flex-grow: 1;
      flex-basis: 0;
    }

    .nav-link {
      color: #000;
      padding: 0 0 0.8rem 0;
      text-align: center;
      position: relative;
      transition: all 0.4s ease-in-out;
      font-size: 16px;

      svg {
        width: 7rem;
        display: block;
        margin: auto;
      }

      &:hover, &:active, &:focus, &.active {
        color: #fff;
        transition: all 0.4s ease-in-out;
        background-color: theme-color('primary');

        svg {
          .cls-1 {
            stroke: #fff;
            transition: all 0.4s ease-in-out;
          }
        }
      }
    }
  }

  .donate-tabs-content {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
}

@include media-breakpoint-up(xl) {
  .donate-tabs {
    .nav-link {
      font-size: 16px;
      padding: 0 1rem 0.8rem 1rem;

      svg {
        width: 10.625rem;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .tab-content.donate-tabs-content {
    .tab-title {
      margin: 0 -32px 20px;
      padding: 10px 0 20px 0;
    }

    > .tab-pane {
      display: block;
      margin-bottom: 50px;
      padding-top: 0;
      overflow: hidden;
    }
  }
}
