.footer-cta-text {
	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0;
	}
}

.footer-cta-button {
	a {
		&:hover {
			background-color: theme-color('white');
			color: theme-color('purple-dark');
		}
	}
}

#site-footer {
	.lg-social-media {
		list-style: none;
		padding-left: 0;
		display: flex;
		li:not(:last-child){
			margin-right: .75rem;
		}
	}

	.footer-short-intro {
		font-size: 12px;
	}

	a {
		color: theme-color('secondary');
		&:hover {
			color: darken(theme-color('secondary'), 15%);
		}
	}

	#sb_instagram .sb_instagram_header .sbi_header_text.sbi_no_bio h3 {
		color: #fff;
		font-size: 18px;
		padding-top: 0 !important;
		font-family: $font-family-base;
	}

	#site-footer-main {
		background-color: #272727;
		.widget {
			.widget-title {
				border: none;
				background-color: transparent;
				font-size: 18px;
				text-transform: none;
				font-family: $font-family-base;
				padding: 0;
			}
			.menu {
				list-style: none;
				padding-left: 0;
				> li:not(:last-child){
					margin-bottom: .25rem;
				}
			}
		}
	}
	#site-legal {
		background-color: #191919;
		> div a {
			color: theme-color('secondary');
		}
	}
}