.gallery-layout {
	.gallery {
		img {
			height: 200px;
			width: 100%;
			object-fit: cover;
		}
	} 
}

.donors {
	.gallery-layout {
		.gallery {
			img {
				height: auto;
				width: auto;
				object-fit: contain;
			}
		} 
	}
}