@mixin menu-ul-style($margin_right) {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    align-items: center;
    > li:not(:last-child) {
        margin-right: $margin_right;
    }
}

#site-content {
    padding-top: 145px;
}

#site-header {
    box-shadow: none;
    height: 145px;
    position: fixed;
    z-index: 999;
    width: 100%;
    .utility-bar {
        padding: 0.3rem 0;

        .utility-btn {
            margin-left: 15px;
        }

        .btn {
            padding: 0 0.75rem;
            font-size: 15px;

            &:hover {
                color: #fff;
            }

            i:hover {
                color: #fff;
            }
        }

        a,
        i {
            color: #fff;

            &:hover {
                color: theme-color("primary");
            }
        }

        .left-bar {
            .lg-social-media {
                @include menu-ul-style(1.75rem);
            }
        }

        .right-bar {
            .menu-utility-menu-container {
                #menu-utility-menu {
                    @include menu-ul-style(1.75rem);
                }
            }
        }
    }

    .header-main {
        padding: 0;
        .site-branding {
            .logo {
                a {
                    img {
                        height: auto;
                    }
                }
            }
        }
        .mobile-navigation {
            .navbar .navbar-nav {
                > li {
                    border-bottom: 1px solid #ababab;
                    > a {
                        border-bottom: none;
                        padding: 0;
                        padding: 1rem 1.5rem;
                        border-right: 1px solid #ababab;
                        flex-grow: 1;
                    }
                    .mobile-dropdown-button {
                        padding: 1rem 1.5rem;
                        color: #fff;
                    }
                    .dropdown-menu > a {
                        padding: 1rem 1.5rem;
                    }
                }
            }
            .dropdown {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                .dropdown-menu {
                    width: 100%;
                }
                // .dropdown-toggle {
                //   &:after {
                //     content: none;
                //   }
                // }
            }
        }

        .main-navigation {
            ul {
                align-items: center;
                @include media-breakpoint-down($nav-breakpoint-down) {
                    align-items: initial;
                }

                .menu-item {
                    // >.dropdown-toggle:after {
                    //   content: none;
                    // }
                    > .dropdown-menu {
                        background-color: #fff;
                        border-top: 3px solid theme-color("primary");
                        padding-top: 0;
                        padding-bottom: 0;
                        @include media-breakpoint-down(md) {
                            border-top: none;
                        }
                        .dropdown-item {
                            color: #5e5e5e;
                            &.active {
                                background-color: theme-color("primary");
                                color: theme-color("white");
                            }
                            &:hover {
                                background-color: theme-color("primary");
                                color: theme-color("white");
                            }
                            &:not(:last-child) {
                                border-bottom: 1px solid rgba(0, 0, 0, 0.05);
                            }
                        }
                    }
                    .nav-link {
                        font-weight: 500;
                        text-transform: none;
                        font-size: 18px;
                        padding-left: 1rem;
                        padding-right: 1rem;
                        &.btn-heart {
                            padding-left: 3.5rem;
                            padding-right: 3.5rem;
                        }
                        &:hover,
                        &:focus,
                        &:active,
                        &.active {
                            color: theme-color("primary");
                        }
                        &.active {
                            > a {
                                background-color: transparent;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(md) {
    #site-header .header-main .main-navigation {
        background-color: theme-color("primary");

        ul .menu-item .nav-link {
            &:hover,
            &:focus,
            &:active {
                color: #fff;
                background-color: theme-color("secondary");
            }
            &.active {
                color: #fff;
            }
        }
    }
}
