// supporting partners
.supporting-partners {
	.supporting-partner-title h2 {
		@include media-breakpoint-down("sm"){
			font-size: 1.5rem;
		}
	}
	.supporting-partners-wrapper {
		.slick-arrow {
			&:before {
				color: theme-color("bodytext");
			}
			&.slick-next {
				right: 0;
				&:before {
					@include media-breakpoint-down("xs"){
						font-size: 15px;
					}
				}
				@include media-breakpoint-down("xs"){
					right: -15px;
				}
			}
			&.slick-prev {
				left: 0;
				&:before {
					@include media-breakpoint-down("xs"){
						font-size: 15px;
					}
				}
				@include media-breakpoint-down("xs"){
					left: -15px;
				}
			}
		}
		.slick-track {
			display: flex;
			align-items: center;
			@include media-breakpoint-down("xs"){
			   display: block;
			}
			.slick-slide {
				height:200px;
			    display: flex !important;
			   	align-items: center;
			    justify-content: center;
			    @include media-breakpoint-down("xs"){
			    	height: auto;
			    }
			}
		}

		.slick-dots li button {
			&:before {
				color: theme-color("bodytext");
				font-size: 1.5rem;
			}
		}
	}
}