.top-slider {
    height: 300px;
    @include media-breakpoint-up(md) {
        height: 675px;
    }
    @media screen and (min-width: 992px) and (max-width: 1200px) {
        height: 675px !important;
    }
    @include media-breakpoint-up(lg) {
        height: 400px;
    }

    .slick-dots li button:before {
        font-size: 40px;
    }
}

.top-slider--item {
    position: relative;
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba($color: theme-color("dark"), $alpha: 0.4);
    }
}

.top-slider--img {
    width: 100%;
    height: 320px;
    @include media-breakpoint-up("sm") {
        min-height: 400px;
        max-height: 600px;
    }
    @include media-breakpoint-up("md") {
        min-height: 700px;
    }
    @include media-breakpoint-up("xl") {
        min-height: 400px;
        max-height: 600px;
    }
    -o-object-fit: cover;
    object-fit: cover;
}

.top-slider--content {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    z-index: 2;
    h1,
    h2,
    h3 {
        font-family: Lato, sans-serif;
    }

    h1 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 0;
        line-height: 1.2;
    }

    h2 {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    h3 {
        font-size: 1rem;
        margin-bottom: 2rem;
    }
}

@include media-breakpoint-up(md) {
    .top-slider--content {
        h1 {
            font-size: 3.75rem;
        }

        h2 {
            font-size: 2.5rem;
        }
    }
    .btn {
        font-size: 1.25rem;
    }
    .btn-primary {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .btn-secondary {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}

@include media-breakpoint-down(md) {
    .top-slider--inner {
        padding: 0 35px;
        text-align: center;
    }
}
