.top-banner {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem 0;
    background-position: center top;
    height: 192px;
    @include media-breakpoint-up(md) {
        height: 226px;
    }
    @include media-breakpoint-up(lg) {
        height: 280px;
    }

    a {
        color: #fff;
        &:hover {
            color: #fff;
        }
    }

    h1 {
        font-size: 1.5rem;
        margin-bottom: 0;
    }

    .btn {
        min-width: 190px;
        margin: 0 15px 20px 15px;
    }
}

.top-banner--bg {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(theme-color("primary"), 0.56);
    }
}

body.home {
    .top-banner--bg {
        &:before {
            background-color: rgba(#fff, 0.26);
        }
    }
}

.top-banner__content {
    position: relative;
    z-index: 1;

    h2 {
        font-weight: 300;
        margin-bottom: 2.5rem;
    }
}

.top-banner__bottom {
    .text-editor {
        font-size: 20px;
        max-width: 700px;
        text-align: center;
        margin: auto;
    }
}

// blog page top banner
.blog-banner {
    position: relative;
    a {
        color: #fff;
        &:hover {
            color: #fff;
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .overlay {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@include media-breakpoint-up(lg) {
    .top-banner {
        padding: 1.5rem 0;

        h1 {
            font-size: 3.75rem;
        }
    }

    body.home {
        .top-banner--bg {
            padding: 5.5rem 0;
        }
    }
    .top-banner--bg {
        padding: 2rem 0;
    }
}
