.directors {
  //background-color: theme-color('lightbg');
  &__content {
    margin: 0 auto 40px auto;
    max-width: 480px;
  }
}

.director {
  &__item {
    text-align: center;
    margin-bottom: 20px;

    h3 {
      font-family: $font-family-base;
      font-size: 16px;
      color: #000;
      margin-top: 10px;
      margin-bottom: 0;
    }

    p {
      font-size: 16px;
    }
  }
}
