.how-can-we-help {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  max-width: 1000px;
  margin: auto;

  > .row {
    margin-left: 0;
    margin-right: 0;
  }

  a {
    padding: 20px;
    flex: 0 0 50%;
    display: block;
    text-align: center;
    transition: all 0.4s ease-in-out;
    color: theme-color('dark');

    &:hover {
      color: #fff;
      background-color: theme-color('primary');

      svg {
        .cls-1 {
          stroke: #fff;
          transition: all 0.4s ease-in-out;

        }
      }
    }
  }


  span {
    display: block;
  }

}

@include media-breakpoint-up(md) {
  .how-can-we-help {
    a {
      flex: 0 0 25%;
    }
  }
}

@include media-breakpoint-up(lg) {
  .how-can-we-help {

    a {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}
