.upcoming-events-content {
  .order-2 .text-editor {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-top: 30px;
    padding: 15px;
  }

  h3 {
    font-size: 20px;
  }
}

.upcoming-events {
  h4 {
    font-family: Lato, sans-serif;
    font-size: 18px;
    color: theme-color('primary');
  }
}

.upcoming-event--item{
  border-bottom: 1px solid #a09696;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

@include media-breakpoint-up(md) {
  .upcoming-events-content {
    .order-2{
      padding-left: 25px;
    }
    .order-2 .text-editor {
      margin-top: 0;
      height: 100%;
    }
    .img-full{
      object-fit: cover;
      height: 100%;
    }
  }
}
