.whats-new-items {
  >.row > div{
    margin-bottom: 40px;
  }
}

.whats-new-item {
  box-shadow: 0px 3px 4px #D6D6D6;
  border: 1px solid #E2E2E2;
  height: 100%;

  p {
    margin-bottom: 30px;
  }

  a {
    font-size: 18px;
  }
}

.whats-new-item__content {
  padding: 0 20px 20px;
}


.whats-new-item__img {
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  margin-bottom: 20px;
}

@include media-breakpoint-up(md) {
  .whats-new-item {
    margin-bottom: 0;

  }
}

@include media-breakpoint-up(xl) {
  .whats-new-items {

    .col-md-4 {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}
